$redColor: #a85122;
$redTitle: #89563a;
$blueColor: #2c3e50;
$darkBlue: #38393a;
$whiteColor: #fff;
$greyColor: rgb(200, 200, 200);
/* EXTEND EXAMPLE: @extend .flexWrap; */
.flexWrap {
  display:flex;
  flex-wrap:wrap;
}
